name: Harvester-Node-Disk-Manager CI

# synchronize for pull request update
on:
  push:
    branches:
      - master
      - 'v**'
  pull_request:
    types: [opened, reopened, synchronize]

env:
  LIBVIRT_DEFAULT_URI: "qemu:///system"

jobs:
  validation:
    runs-on:
      - self-hosted
      - Linux
    steps:
      - name: "Clone and check"
        uses: actions/checkout@v3
      - name: "Run validations"
        run: |
          make validate
          make validate-ci
  build:
    needs: validation
    runs-on:
      - self-hosted
      - Linux
    steps:
      - name: "Local Build for next stage"
        run: |
          BUILD_FOR_CI=true make
          ./ci/scripts/patch-ttl-repo.sh
  main_jobs:
    needs: build
    runs-on:
      - self-hosted
      - Linux
    steps:
      - name: "Local Deployment (Harvester+Longhorn+Node-Disk-Manager) for testing"
        run: |
          rm -rf ndm-vagrant-rancherd
          git clone https://github.com/harvester/vagrant-rancherd ndm-vagrant-rancherd
          pushd ndm-vagrant-rancherd
          ./new_cluster.sh
          yq e -i ".longhorn_version = \"1.4.2\"" settings.yaml
          ./scripts/deploy_longhorn.sh
          cp ../ci/scripts/deploy_ndm.sh ./deploy_ndm.sh
          ./deploy_ndm.sh
          popd
      - name: "Basic Test"
        id: basic-test
        run: |
          pushd ndm-vagrant-rancherd
          ./scripts/attach-disk.sh node1
          sleep 30
          vagrant ssh-config node1 > ../ssh-config
          cp kubeconfig ../kubeconfig
          popd
          echo Running integration tests
          NDM_HOME=`pwd` go test -v ./tests/...
      - name: "Get NDM logs"
        if: always()
        run: |
          ./ci/scripts/get-debug-info.sh
      - name: "Tear Down / Cleanup"
        if: always()
        run: |
          pushd ndm-vagrant-rancherd
          vagrant destroy -f --parallel
          popd
