name: nightly

on:
  workflow_dispatch:
  schedule:
    # run at 03:30 UTC every night
    - cron:  '30 3 * * *'

jobs:
  build-for-master:
    uses: ./.github/workflows/factory.yaml
    with:
      tag: master-head
      push: true
    secrets: inherit

  build-for-v1_7:
    uses: ./.github/workflows/factory.yaml
    with:
      refs: v1.7
      tag: v1.7-head
      push: true
    secrets: inherit
    
  build-for-v1_6:
    uses: ./.github/workflows/factory.yaml
    with:
      refs: v1.6
      tag: v1.6-head
      push: true
    secrets: inherit